* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.expand {
  display: flex;
  flex-direction: column;
  width: 400px;

  &__header {
    display: flex;
    height: 48px;
    align-items: center;
  }

  &__toggle-btn {
    margin-left: auto;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

  &__content {
    padding: 8px 0;
    border-top: 1px solid #eee;
    min-height: 48px;
    opacity: 0.7;
  }
}

.fas {
  position: relative;
  width: 20px;
  height: 10px;
  right: 20px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 2.5px;
    background: #000;
    transform: rotate(40deg);
    border-radius: 2px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    width: 11px;
    height: 2.5px;
    background: #000;
    transform: rotate(-40deg);
    border-radius: 2px;
  }
}
.fa-chevron-up {
  &:before {
    transform: rotate(-40deg);
  }
  &:after {
    transform: rotate(40deg);
  }
}
.fa-chevron-down {
  &:before {
    transform: rotate(40deg);
  }
  &:after {
    transform: rotate(-40deg);
  }
}
